* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif !important;
}

._navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0px 10px 0px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  background: #333333;
  z-index: 2;
}

._navbar img {
  width: 70px;
  margin-left: 50px;
}

._navbar a {
  text-decoration: none;
}

._navbar a h4 {
  color: #222;
  font-size: 23px;
  font-weight: 700;
  font-style: normal;
  line-height: 25px;
  margin-left: 15px;
}

._navbar a h6 {
  color: #222;
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  line-height: 25px;
  margin-left: 15px;
}

._navbar ul {
  /* margin-top: -15px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 30%; */
  position: absolute;
  right: 10%;
}

.fiture {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

._navbar ul li {
  background: #4ca3dd;
  border: 4px solid #c0d6e4;
  margin-left: 15px;
  border-radius: 14px;
  padding: 3px 7.5px;
  display: inline-block;
  text-align: center;
  height: 50px;
}

._navbar ul li:hover {
  background: #80caf8;
}

._navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.icon {
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.icon.cencel-btn {
  position: absolute;
  right: 50px;
  top: 20px;
}

.icon.menu-btn {
  position: absolute;
  right: 30px;
  top: 15px;
  z-index: 0;
}

.icon-color {
  color: #fff;
}

.icon.menu-btn.active {
  display: none;
}

#profile {
  border-radius: 50%;
  /* position: relative; */
  top: -5px;
  /* left: 10%; */
}

#title {
  color: white;
  /* position: absolute; */
  /* top: -5px; */
  left: 20%;
}

.account {
  display: flex;
  align-items: center;
  width: 70%;
  /* background-color: #1fab89; */
  position: relative;
  float: left;
  left: 75px;
  top: -5px;
}

.namaku {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  float: top;
  top: 2px;
  /* background-color: #8cd3c4; */
}

@media screen and (max-width: 1024px) {
  ._navbar ul {
    margin-left: 10%;
  }
}

/* Tablet and Mobile Version */
@media screen and (max-width: 1024px) {
  /* Responsive Navigation Bar */

  ._navbar {
    position: fixed;
    height: 11%;
  }

  .account {
    position: relative;
    float: left;
    left: 4px;
    align-items: center;
    top: -5px;
  }

  body.disabledScroll {
    overflow: hidden;
  }

  body.disabledScroll .carousel {
    z-index: -1;
  }

  ._navbar .menu-list {
    position: fixed;
    top: 0;
    left: -110%;
    height: 100vh;
    width: 110%;
    max-width: 500px;
    background: #222;
    display: block;
    padding: 40px 0;
    text-align: center;
    transition: all 0.3s ease;
  }

  ._navbar .menu-list.active {
    left: -5%;
  }

  ._navbar ul {
    margin-left: 0;
  }

  ._navbar ul li {
    margin-left: 0;
    display: block;
    margin: 45px 150px;
    border-radius: 14px;
  }

  .icon {
    display: block;
    margin-top: 15px;
  }

  ._navbar img {
    width: 50px;
    margin-left: 20px;
  }

  ._navbar a h4 {
    color: #222;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    line-height: 20px;
    margin-left: 13px;
  }

  ._navbar a h6 {
    color: #222;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    line-height: 20px;
    margin-left: 13px;
  }

  .fot {
    z-index: 0;
  }
}

/* footer */
.footer-color {
  background-color: #333333;
}

/* HOME */
#home {
  height: auto;
  background-color: #797979;
}

.container-kiri {
  width: 28%;
  height: 50%;
  background-color: #333333;
  position: absolute;
  float: left;
  left: 0%;
  top: 16%;
}

.container-tengah {
  width: 40%;
  height: 50%;
  background-color: #333333;
  position: absolute;
  float: left;
  left: 30%;
  top: 16%;
}

.container-kanan {
  width: 28%;
  height: 50%;
  background-color: #333333;
  position: absolute;
  float: left;
  left: 72%;
  top: 16%;
}

.space-atas {
  margin-top: 100px;
}

.kiri {
  left: 25px;
}

.tengah {
  left: 15px;
}

.kanan {
  float: right;
  right: 10px;
  position: absolute;
  top: 200px;
}

.pencarian {
  right: -5px;
  float: top;
  top: 117px;
  height: 100%;
}

.cari {
  height: auto;
  padding: 20px;
}

.cc {
  height: 10%;
  font-size: 15px;
  background-color: #333333;
}

.content {
  width: 100%;
}

.content-warna {
  background-color: #363636;
  color: #fff;
}

hr {
  background-color: #6d6d6d;
}

ul {
  list-style: none;
}

#cate {
  font-size: 20px;
}

.isi-cate {
  font-size: 14px;
}

/* .ct {
  color: #fff;
}
.ct:hover {
  color: #4ca3dd;
} */

.subtitle {
  font-weight: 200;
  font-size: 12px;
}

.react {
  width: 50%;
  padding: 20px 20px;
}

.laravel {
  width: 60%;
  padding: 20px 20px;
}

.frontend {
  width: 60%;
  padding: 20px 20px;
}

.see-more {
  font-style: italic;
  padding: 12px;
  color: #dd994c;
}

.see-more:hover {
  color: #fff;
  text-decoration: none;
}

h6 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 15px;
}
